@model Final.Models.Post
@{
    ViewBag.Title = "AddPhoto";
}

<h2>AddPhoto</h2>
@using (Html.BeginForm("Upload", "Account", FormMethod.Post, new { enctype = "multipart/form-data", PostID = @ViewBag.postId }))
    {
    <table>
        <tr>
            <td>Select File : </td>
            <td>
                @Html.TextBoxFor(m => m.File, new { type = "file" })
            </td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

